*{
    box-sizing: border-box;
}
body{
display: flex;
background-color: darkcyan;
align-items: center;
justify-content: center;
font-family: "Poppins",sans-serif;
margin: 0;
min-height: 100vh;
font-size: 20px;
}

#container
{
    box-shadow: 3px 3px 4px rgba(0,0,0,0.3s);
    height: 300px;
    height: 300px;
}

img{
    transform-origin: center center;
    object-fit: cover;
    height: 100%;
    width: 100%;

}